@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 20, 20);
  background-size: cover;
}

.appbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: white;
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.appbar a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.appbar a:hover {
  color: #0088ff;
}

.signup {
  border: 1px solid white;
  background-color: white;
  color: black !important;
  width: 70px;
  text-align: center;
  border-radius: 5px;
}
.signup:hover {
  background-color: white !important;
  color: #0088ff !important;
}
.appbar video {
  position: absolute;
  z-index: -1;
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.inner__appbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.inner__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.auth {
  display: flex;
  width: 120px;
  justify-content: space-around;
}

/* GAMES CARDS START */

.card {
  width: 190px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%;
  margin-right: 1%;
}
.card:hover {
  background-color: #e1f0f4;
}
.card h3 {
  font-family: "Play", sans-serif;
}

.card--descr {
  width: 98%;
  height: auto;
}

.card--img {
  width: 98%;
  height: 180px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
}

.card button {
  background-color: #0c0c0d;
  color: white;
  border: 1px solid white;
  box-shadow: black 1px 1px;
  border-radius: 3px;
  width: 50px;
  height: 22px;
  transition: 0.4s;
}

.card button:hover {
  background-color: white;
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;

  font-family: open sans;
  transition: ease 0.5s;
  text-decoration: none;
  color: white;
  list-style-type: none;
}
/* GAMES CARDS END */
/* FOOTER  START */

footer {
  background-color: rgb(29, 28, 28);
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  /* box-shadow: #3e4970 0 10px 20px 5px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main {
  width: 100%;
  display: flex;
  gap: 50px;
}
.heading {
  margin-bottom: 15px;
  color: white;
}
.col1 {
  flex: 1;
}
.col2 {
  flex: 2;
}
.col3 {
  flex: 1;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.col1 a:hover {
  color: #0088ff;
}

.col2 .languages {
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.languages a {
  color: white;
  text-decoration: none;
  padding: 3px 5px;
}
.languages a:hover {
  color: #0088ff;
}

.social {
  display: flex;
  gap: 20px;
}
.col3 ion-icon {
  font-size: 30px;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.terms a {
  color: #7783a0;
  text-decoration: none;
}
/* FOOTER  END */
/* 404 PAGE */
.btn404 {
  border: 1px solid white !important;
  border-radius: 8px !important;
}
.btn404:hover {
  background-color: white !important;
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}
.nightText {
  display: flex;
  justify-content: center;
  width: 90%;
}
.search-text {
  transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 15rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc, 15px 15px 0px #e601c0,
    20px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896;
  cursor: pointer;
}

.search-text:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}

/* 404 PAGE */

/* PAYMENT CSS START  */
.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px double white;
  border-radius: 15px;
  margin: 7%;
  background-color: #202020;
}
.paymentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}
.cardImg {
  width: 30vw;
  height: 450px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
}
.paymentRight {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.paymenth3 {
  color: white;
  font-size: 3vw;
  margin-bottom: 10%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.paymentDescr {
  color: white;
  width: 90%;
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}
.paymentPrice {
  color: rgb(29, 239, 22);
  background-color: #0c0c0d;
  border: 1px solid white;
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.paymentBtn {
  background-color: #0c0c0d;
  color: white;
  border: 1px solid white;
  box-shadow: black 1px 1px;
  border-radius: 3px;
  width: 50px;
  height: 22px;
  transition: 0.4s;
}
.paymentBtn:hover {
  background-color: white;
  color: black;
}
.paymentButtons {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

/* PAYMENT CSS END  */
